// Uses Fonts Module and Fonts Constant
// Font Size Classes
$font-sizes: (
  "title": $font-size-title,
  "h1": $font-size-h1,
  "h2": $font-size-h2,
  "h3": $font-size-h3,
  "big": $font-size-big,
  "base": $font-size-base,
  "small": $font-size-sm,
  "annotation": $font-size-annotation
);

@each $key, $value in $font-sizes {
  .font.#{$key} {
    @include typography($value);
  }
}

// Font Weight Classes
$font-weights: (
  "light": $font-light,
  "regular": $font-regular,
  "bold": $font-bold
);

@each $key, $value in $font-weights {
  .font.#{$key} {
    font-weight: $value;
  }
}

// Font Type Classes
$font-types: (
  "lato": $font-lato,
  "montserrat": $font-montserrat,
  "poppins": $font-poppins,
);

@each $key, $value in $font-types {
  .font.#{$key} {
    font-family: $value;
  }
}
