@each $key, $value in $color {
  .color.#{$key} {
    color: $value !important;
  }

  .color.#{$key}-bg {
    background-color: $value !important;
  }

  .color.#{$key}-border {
    border-color: $value !important;
  }
}