/*
 * @param: value {type: number; unit: any}
 * @return: number
 */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
.color-primary-1 {
  color: #84002f !important; }

.bg-color-primary-1 {
  background-color: #84002f !important; }

.color-primary-2 {
  color: #30022c !important; }

.bg-color-primary-2 {
  background-color: #30022c !important; }

.color-primary-3 {
  color: #7f6add !important; }

.bg-color-primary-3 {
  background-color: #7f6add !important; }

.color-secondary-1 {
  color: #cc002f !important; }

.bg-color-secondary-1 {
  background-color: #cc002f !important; }

.color-secondary-2 {
  color: #f31a1e !important; }

.bg-color-secondary-2 {
  background-color: #f31a1e !important; }

.color-black {
  color: #000000 !important; }

.bg-color-black {
  background-color: #000000 !important; }

.color-white {
  color: #ffffff !important; }

.bg-color-white {
  background-color: #ffffff !important; }

.color-gray-1 {
  color: #2a2a2a !important; }

.bg-color-gray-1 {
  background-color: #2a2a2a !important; }

.color-gray-2 {
  color: #545454 !important; }

.bg-color-gray-2 {
  background-color: #545454 !important; }

.color-gray-3 {
  color: #7e7e7e !important; }

.bg-color-gray-3 {
  background-color: #7e7e7e !important; }

.color-gray-4 {
  color: #f2f2f2 !important; }

.bg-color-gray-4 {
  background-color: #f2f2f2 !important; }

.color-success {
  color: #0f8a44 !important; }

.bg-color-success {
  background-color: #0f8a44 !important; }

.color-success-bg {
  color: #d9f2e3 !important; }

.bg-color-success-bg {
  background-color: #d9f2e3 !important; }

.color-error {
  color: #f20d0d !important; }

.bg-color-error {
  background-color: #f20d0d !important; }

.color-error-bg {
  color: #fad1d1 !important; }

.bg-color-error-bg {
  background-color: #fad1d1 !important; }

.color-info {
  color: #2f80ed !important; }

.bg-color-info {
  background-color: #2f80ed !important; }

.color-info-bg {
  color: #d0f1fb !important; }

.bg-color-info-bg {
  background-color: #d0f1fb !important; }

.color-warning {
  color: #F2994A !important; }

.bg-color-warning {
  background-color: #F2994A !important; }

.color-warning-bg {
  color: #FCE5D1 !important; }

.bg-color-warning-bg {
  background-color: #FCE5D1 !important; }

.status-style-error {
  color: #f20d0d;
  background-color: #fad1d1; }

.status-style-info {
  color: #2f80ed;
  background-color: #d0f1fb; }

.status-style-warning {
  color: #F2994A;
  background-color: #FCE5D1; }

.status-style-success {
  color: #0f8a44;
  background-color: #d9f2e3; }

.status-style-error-bordered {
  color: #f20d0d;
  background-color: #fad1d1;
  border: solid;
  border-color: #f20d0d; }
  .status-style-error-bordered {
    border-width: 0.1rem; }
    @media screen and (min-width: 320px) {
      .status-style-error-bordered {
        border-width: calc( 0.1rem + 0 * ( (100vw - 32rem) / (64) )); } }
    @media screen and (min-width: 960px) {
      .status-style-error-bordered {
        border-width: 0.1rem; } }
    @media screen and (min-width: 1440px) {
      .status-style-error-bordered {
        border-width: 0.06944vw; } }

.status-style-info-bordered {
  color: #2f80ed;
  background-color: #d0f1fb;
  border: solid;
  border-color: #2f80ed; }
  .status-style-info-bordered {
    border-width: 0.1rem; }
    @media screen and (min-width: 320px) {
      .status-style-info-bordered {
        border-width: calc( 0.1rem + 0 * ( (100vw - 32rem) / (64) )); } }
    @media screen and (min-width: 960px) {
      .status-style-info-bordered {
        border-width: 0.1rem; } }
    @media screen and (min-width: 1440px) {
      .status-style-info-bordered {
        border-width: 0.06944vw; } }

.status-style-warning-bordered {
  color: #F2994A;
  background-color: #FCE5D1;
  border: solid;
  border-color: #F2994A; }
  .status-style-warning-bordered {
    border-width: 0.1rem; }
    @media screen and (min-width: 320px) {
      .status-style-warning-bordered {
        border-width: calc( 0.1rem + 0 * ( (100vw - 32rem) / (64) )); } }
    @media screen and (min-width: 960px) {
      .status-style-warning-bordered {
        border-width: 0.1rem; } }
    @media screen and (min-width: 1440px) {
      .status-style-warning-bordered {
        border-width: 0.06944vw; } }

.status-style-success-bordered {
  color: #0f8a44;
  background-color: #d9f2e3;
  border: solid;
  border-color: #0f8a44; }
  .status-style-success-bordered {
    border-width: 0.1rem; }
    @media screen and (min-width: 320px) {
      .status-style-success-bordered {
        border-width: calc( 0.1rem + 0 * ( (100vw - 32rem) / (64) )); } }
    @media screen and (min-width: 960px) {
      .status-style-success-bordered {
        border-width: 0.1rem; } }
    @media screen and (min-width: 1440px) {
      .status-style-success-bordered {
        border-width: 0.06944vw; } }

@media screen and (max-width: 1440px) {
  .large-only {
    display: none !important; } }

@media screen and (max-width: 960px) {
  .medium-only {
    display: none !important; } }

/* =================================================================== 
 * Base Stylesheet
 * ------------------------------------------------------------------
 *
 *  TOC:
 *      # A. Custom Normalize
 *      # B. Typography
 *
 * =================================================================== */
/* ===================================================================
 * # A. Custom Normalize
 * ------------------------------------------------------------------- */
html,
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  html,
  body {
    font-size: 1.4rem; }
    @media screen and (min-width: 320px) {
      html,
      body {
        font-size: calc( 1.4rem + 0.2 * ( (100vw - 32rem) / (64) )); } }
    @media screen and (min-width: 960px) {
      html,
      body {
        font-size: 1.6rem; } }
    @media screen and (min-width: 1440px) {
      html,
      body {
        font-size: 1.11111vw; } }

html {
  scroll-behavior: smooth; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  margin: 0; }

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none; }

a:hover {
  color: inherit; }

main {
  display: block;
  height: 100%; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

/* # End of Normalize
 * ----------------------- */
/* ===================================================================
 * # B. Typography
 * ------------------------------------------------------------------- */
html {
  font-size: 62.5%; }

/* # End of Typography
 * ----------------------- */
.font.title {
  font-size: 3.6rem; }
  @media screen and (min-width: 320px) {
    .font.title {
      font-size: calc( 3.6rem + 2.8 * ( (100vw - 32rem) / (64) )); } }
  @media screen and (min-width: 960px) {
    .font.title {
      font-size: 6.4rem; } }
  @media screen and (min-width: 1440px) {
    .font.title {
      font-size: 4.44444vw; } }

.font.h1 {
  font-size: 2.8rem; }
  @media screen and (min-width: 320px) {
    .font.h1 {
      font-size: calc( 2.8rem + 0.4 * ( (100vw - 32rem) / (64) )); } }
  @media screen and (min-width: 960px) {
    .font.h1 {
      font-size: 3.2rem; } }
  @media screen and (min-width: 1440px) {
    .font.h1 {
      font-size: 2.22222vw; } }

.font.h2 {
  font-size: 2.4rem; }
  @media screen and (min-width: 320px) {
    .font.h2 {
      font-size: calc( 2.4rem + 0.4 * ( (100vw - 32rem) / (64) )); } }
  @media screen and (min-width: 960px) {
    .font.h2 {
      font-size: 2.8rem; } }
  @media screen and (min-width: 1440px) {
    .font.h2 {
      font-size: 1.94444vw; } }

.font.h3 {
  font-size: 2rem; }
  @media screen and (min-width: 320px) {
    .font.h3 {
      font-size: calc( 2rem + 0.4 * ( (100vw - 32rem) / (64) )); } }
  @media screen and (min-width: 960px) {
    .font.h3 {
      font-size: 2.4rem; } }
  @media screen and (min-width: 1440px) {
    .font.h3 {
      font-size: 1.66667vw; } }

.font.big {
  font-size: 1.6rem; }
  @media screen and (min-width: 320px) {
    .font.big {
      font-size: calc( 1.6rem + 0.2 * ( (100vw - 32rem) / (64) )); } }
  @media screen and (min-width: 960px) {
    .font.big {
      font-size: 1.8rem; } }
  @media screen and (min-width: 1440px) {
    .font.big {
      font-size: 1.25vw; } }

.font.base {
  font-size: 1.4rem; }
  @media screen and (min-width: 320px) {
    .font.base {
      font-size: calc( 1.4rem + 0.2 * ( (100vw - 32rem) / (64) )); } }
  @media screen and (min-width: 960px) {
    .font.base {
      font-size: 1.6rem; } }
  @media screen and (min-width: 1440px) {
    .font.base {
      font-size: 1.11111vw; } }

.font.small {
  font-size: 1.2rem; }
  @media screen and (min-width: 320px) {
    .font.small {
      font-size: calc( 1.2rem + 0.2 * ( (100vw - 32rem) / (64) )); } }
  @media screen and (min-width: 960px) {
    .font.small {
      font-size: 1.4rem; } }
  @media screen and (min-width: 1440px) {
    .font.small {
      font-size: 0.97222vw; } }

.font.annotation {
  font-size: 1.05rem; }
  @media screen and (min-width: 320px) {
    .font.annotation {
      font-size: calc( 1.05rem + 0.15 * ( (100vw - 32rem) / (64) )); } }
  @media screen and (min-width: 960px) {
    .font.annotation {
      font-size: 1.2rem; } }
  @media screen and (min-width: 1440px) {
    .font.annotation {
      font-size: 0.83333vw; } }

.font.light {
  font-weight: 300; }

.font.regular {
  font-weight: 400; }

.font.bold {
  font-weight: 700; }

.font.lato {
  font-weight: "Lato", sans-serif; }

.font.montserrat {
  font-weight: "Montserrat", sans-serif; }

.font.poppins {
  font-weight: "Poppins", sans-serif; }
